body
{
    font-family: 'Permanent Marker',cursive;
    background: rgb(255, 120, 143);
}

.header_div
{
    background: rgb(250, 137, 137);
    color: rgb(162, 63, 254);
}

.main_div button
{    
    font-family: 'Roboto', sans-serif;    
    margin-top: 30px;    
    width: 130px;    
    font-weight: bolder;    
    letter-spacing: 3px;  
}

.copy_right_footer
{
    position: fixed;
    color: rgb(63, 63, 63); 
    bottom: 0;
    font-size: 19px;
    background: rgb(60, 118, 255);
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149 , 149);
    color: black;
    width: 100%;
}